<div class="page-top pad1">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-4">
        Tuesday, September 5th, 2017
      </div>
      <div class="cell large-8 text-right">
        <a href="#" class="page-top-link"><img src="{{rootURL}}assets/rss.svg" alt="twitter"></a>
        <a href="#" class="page-top-link"><img src="{{rootURL}}assets/twitter.svg" alt="twitter"></a>
        <a href="#" class="page-top-link"><img src="{{rootURL}}assets/fb.svg" alt="twitter"></a>
      </div>
    </div>
  </div>
</div>
<div class="branding pad2">
  <div class="grid-container">
    <div class="grid-x align-justify">
      <div class="cell large-4 site-branding">
        {{#link-to 'index' class='hero-title' }}
          <img src="{{rootUrl}}assets/ember.png" class='site--logo' alt="">
        {{/link-to}}
      </div>
      <nav role='navgigation' class="site--navigation">
        <ul class='homepage navigation menu'>
          <li class="menu-item">
            <a href="#">Home</a>
          </li>
          <li class="menu-item">
            <a href="#">Markets</a>
          </li>
          <li class="menu-item">
            <a href="#">Sale of the Week</a>
          </li>
          <li class="menu-item">
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div id="bar"></div>
