$blue: #3498db;
$red: #c0392b;
$white: #fff;
$black: #000;

$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 900;

$primary: $blue;
$secondary: #3d3d3d;

$link-color: $primary;
$text-color: $black;

$whisper: #eee;

$title-font: 'Lato', sans-serif;
$body-font: 'Open Sans', sans-serif;
