
<header class="header" id="header" role='header'>
  <div class="page-top pad2">
    <div class="row">
      <div class="columns large-4">
        Tuesday, September 5th, 2017
      </div>
      <div class="columns large-4 float-right">
        <a href="#" class="page-top-link">Rss</a>
        <a href="#" class="page-top-link">Twitter</a>
        <a href="#" class="page-top-link">Facebook</a>
      </div>
    </div>
  </div>
</header>
{{outlet}}
